#trashIcon{
    margin-left:auto; margin-right:0;
}

.onePost{
    text-align: center;
    min-width: 100%; 
}

.onePost>p{
    text-align: center; 
}

.btn-trash{
    background-color: DodgerBlue; /* Blue background */
    width: 30px;
    height: 30px;
    padding: 10px 10px 10px 10px;
}